<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <title>Yournote. -ノート共有サービス- | ログイン</title>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/mdb.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<header class="fixed-top">
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
        <a class="navbar-brand" href="../templates/index.html">Yournote.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../templates/index.html">ホーム
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Yournote.とは</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">利用規約</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">探す</a>
                    <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="#">教科から探す</a>
                        <a class="dropdown-item" href="#">教科書から探す</a>
                        <a class="dropdown-item" href="#">タグから探す</a>
                        <a class="dropdown-item" href="#">キーワードから探す</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" th:href="@{/login.html}">ログイン</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->
</header>

<body>
<!-- Section heading -->
<div align="center" style="padding-top: 100px"><img th:src="@{/img/title.gif}"></div>
<!-- Section description -->
<p class="grey-text w-responsive mx-auto mb-5" align="center">自分で書いたノートを他の人と共有しよう。<br>それがきっと、だれかの手助けになる。<br>だれもがみんな、先生だ。</p>
<!-- Grid row -->

<h2 class="h1-responsive font-weight-bold my-3 text-center">404 - Not Found</h2>

<div style="padding-bottom: 300px">
    <p class="text-center">お探しのページは見つかりませんでした。</p>
</div>

<!-- Footer Links -->
<div class="page-footer default-color container-fluid text-center text-md-left font-small text-white" style="padding-top: 25px">

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase">Yourname.</h5>
            <p>itsuによって開発された、教科書別ノート共有サービスです。</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="#!" style="color: white">公式Twitter</a>
                </li>
                <li>
                    <a href="#!" style="color: white">開発者Twitter</a>
                </li>
                <li>
                    <a href="#!" style="color: white">Link 3</a>
                </li>
                <li>
                    <a href="#!" style="color: white">Link 4</a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="#!" style="color: white">Link 1</a>
                </li>
                <li>
                    <a href="#!" style="color: white">Link 2</a>
                </li>
                <li>
                    <a href="#!" style="color: white">Link 3</a>
                </li>
                <li>
                    <a href="#!" style="color: white">Link 4</a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</div>
<!-- Footer Links -->


<!-- JQuery -->
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
</body>

<!-- Footer -->
<footer class="font-small default-color pt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 default-color-dark">
        <span style="color: darkgrey">© 2018 Copyright:</span><a href="https://mdbootstrap.com/education/bootstrap/" style="color: #fff"> Yourname.</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

</html>
